/* struttura base  */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.conteiner{
    max-width: 1200px;
    margin: 0 auto;
}
.box-flex{
    display: flex;
}
.padding-box{
    padding-top: 50px;
    padding-bottom: 50px;
}

/* struttura base-fine  */

/* header  */
header{
    background-color: #3161e0;
    padding:16px 0;
    font-size: 20px;
}
header .conteiner{
    display: flex;
    
}


.col{
    padding:15px 0 10px 0;
    display: flex;
}

.col-grow > ul {

 display: flex;
 list-style: none;
 align-items: center;
 gap: 30px;
}
.col-grow li, .col-grow a {
    text-decoration: none;
    color: #ffffff;
}

header .conteiner .col-25:first-child {
    padding-left: 10px;
}
header .conteiner .col-25:nth-child(3) {
  justify-content: flex-end;
  padding-right: 10px;
  align-items: center;
}

.logo{
    height: 50px;
    cursor: pointer;
}
.btn{
    background-color: white;
    border-radius: 30px;
    border: 1px solid transparent;
    padding: 10px 15px;
    font-weight: 700;
    border: none;
}
.col-grow li:hover{
    text-decoration: underline;
    color: white;
}

header .btn:hover, main .btn-arrows:hover,
footer .btn:hover{
    cursor: pointer;
    color: #3161e0;
    box-shadow: rgba(0, 0, 0, 0.24) 3px 5px 8px;
}

.btn-title:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}


/* header - fine  */

/* inizio main  */

/* regole di base x section item col  */

/* item  */
.box{
    width: 100%;
  
}

.item{
    width: 100%;
    
}
.section-a > .box{
    justify-content: center;
}

/* secona section  */
.border-section{
    border-top: 1px solid #add8e6;
}

.item-40{

    width: 40%;
 

}
.item-60{
    
    width: 60%;

}

img {
    max-width:100%;
}


/* fine item  */
/* col  */
.col-25{
    width: 25%;
}
.col-30{
    width: 30%;
}

.col-grow{
    flex-grow: 1;
    justify-content: center;
}
.col-50{
    width: 50%;
}

.de-bug{
    border: 2px dashed #000000;
}

/* tipografia  */
body{
    font-family: 'Cabin', sans-serif;
   
}

header,.section-a{
    color: white;
}


.text {
        font-weight: 900; 
         font-size: 40px;
    }

   .section-a h1{
    padding-top: 50px;
    }


 .section-a .text p{
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 20px;
    line-height: 1.5;
 }



.text h2{
    color: #000000;
    font-size: 40px;
    font-weight: 900;
    font-family: inherit;
    margin-bottom: 22px;
}

 .section-hero .text p , .section-b .text p{
    color: #000;
    font-size: 20px;
    font-family: inherit;
 }

 .text-col{
    padding-left: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 11;
 }



/* main  */
/* prima section  */
.section-a{
    
    background-image: url('./img/jumbo.png');
    width: 100%;
    background-position: center;
    background-size: cover ;
    min-height: 540px;
    text-align: center;
}

.btn.btn-title{
    padding: 20px  30px;
    margin-right: 10px;
    font-size: 20px;
    line-height: 15px;
}

 .btn-title.btn-arrows::before{
    content:'\1F847'; 
   font-size: 20px;
   font-weight: 900;
   padding-right: 10px;
}
/* seconda section  */

.section-hero .box{

max-width: 780px;
}
   


.first{
    text-align: center;
    padding-top: 80px;
}

.first button.btn-arrows{
    background-color: #8ea1e1;
    color: white;
    padding: 15px 30px;
    font-size: 15px;
    font-family: inherit;
    font-weight: 500;
    margin-top: 45px;
}
.text-btn-arrows{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.flow{
    height: 100%;
    width:67%;
    top: -80px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('./img/stars.svg');

}


/* terza section  */

.wave {
    background-image: url('../img/wave.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
}
.wave.bottom{
    height: 100px;
    transform:rotate(180deg);
}
.section-b.wave{
    background-color: #F6F6F6;
    height: 100%;
    position: relative;
}

.section-b.last{
    padding-bottom: 130px;
}
/* color  */

.bg-color{
    width: 100%;
    
 }
 .bg-grey{
    background-color:#d3d3d3 ;
 }
.bg-grey.last{
    background-color: #F6F6F6;
}
.item-salmone{
    background-color: #ffc0cb;
}
.item-green{
    background-color: #228b22;
}
.bg-darkgrey{
    background-color: #23272a;
}
.bg-darksalmon{
    background-color: #f08080;
}
.bg-turchese{
    background-color: #20b2aa;
}
.white{
    border: 2px dashed #ffffff;
}

.btn-black{
background-color: #23272a;
color: white;
}

/* fine main  */
/* inizio footer  */
footer *{
    color: white;
}

footer>.box-footer{ 
    padding-top: 80px;
    padding-bottom: 40px;
}



.box-footer-2{ 
   margin-top: 30px;
}
.conteiner .box-footer-2 {
    border-top: 1px solid #4A5882;
    justify-content: space-between;
    padding-top:25px;
    padding-bottom: 22px;
}

.logo-footer{
    height: 40px;
}
.logo-footer img{
    height: 100%;
    object-fit: cover;
}
 footer .col-25{
    text-align: center;
    list-style: none;
 }
 footer .col-25 ul>li{
    padding-bottom: 10px;
 }
ul{
    list-style: none;
}
footer a{
    text-decoration: none;
    font-weight: 700;
}
.col-30 h2{
   
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 24px;
}
.col-30 img{
    height: 15px;
    width: 30px;
    border-radius: 2px;
    object-fit: cover;
}


footer h2,h3{
    color: #8ea1e1;
 }
footer h3{
    padding-bottom: 15px;
}
.fa-chevron-down{
    font-size: 10px;
}
.wrapper.icon{
    margin-top: 15px;
    display: flex;
    gap: 24px;
    font-size: 16px;
    cursor: pointer;
}

footer .btn{

    background-color: #8ea1e1;
    cursor: pointer;
}

footer a:hover,
header a:hover{
text-decoration: underline;
color: inherit;
}